*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	background-image: url('../images/2.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.main{
	width: 100%;
}
#header{
	display: flex;
	width: 100%;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 5px 2px #ccc;
}
		#header .fa-bars{
			color: red;
			font-size: 200%;
			position: relative;
		}
		button{
			width: 120px;
			height: 30px;
			border-radius: 10px;
			border: none;
			color: white;
			font-family: calibri;
			text-align: center;
			line-height: 30px;
		}
		button:hover, .time:hover{
			opacity: 0.6;
			font-weight: 700;
		}
		#header #contact{
			font-size: 20px;
			background: #ef1128;
		}
		#header #share{
			background: #0079f2;
			font-size: 15px;
			font-weight: 600;
		}
		#header .fa-bars:hover .menu{
			display: block;
		}
		#countdown{
			margin: 50px 0;
			font-family: 'Dancing Script', cursive;
			text-align: center;
		}
		#countdown div{
			display: inline-block;
			align-items: center;
		}
		#countdown>div, #calender>div>span{
			display: block;

		}
		.time{
			background: #ffc833;
			border-radius: 30%;
			overflow: hidden;
			position: relative;
		}
		.time>div{
			background-color: #ffdc7d ;
			width: 100%;
			font-weight: 550;
			overflow: hidden;
		}
		.time>span{
			width: 100%;
			position: absolute;
			bottom: 0;
		}
		.image{
			text-align: center;
		}
		.image img{
			width: 50%;
			height: auto;
		}
		/*------------content-------*/
		.content{
			font-family: calibri;
			margin: 20px auto;
		}
		.content div{
			margin: 20px;
		}
		.content #dateoff{
			padding-left: 20px;
		}
		.footer{
			width: 100%;
			height: 80px;
			color: white;
			background-color: #00016f;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		/*----------------------------------------------------------------------------*/
		@media screen and (max-width: 767px){
			#countdown div{
				font-size: 15px;
			}
			#header>div{
			width: 33%;
			}
			button{
			width: 80px;
			}
			#header #contact{
			font-size: 18px;
			background: #ef1128;
			}
			#header #share{
				background: #0079f2;
				font-size: 12px;
				font-weight: 600;
			}
			#countdown>div:first-child{
				font-size: 27px !important;
			}
			.time{
				margin: 20px 2px;
				width: 65px;
				height: 65px;
			}
			.time>div{
				height: 45px;
				line-height: 45px;
				font-size: 35px !important;
			}
			.time>span{
				height: 20px;
				line-height: 20px;
			}
			#year{
				font-size: 37px !important;
				font-weight: 550;
			}
		}
		@media screen and (min-width: 768px){
			#header>div{
			width: 25%;
			}
			.time{
				margin: 20px 5px;
				width: 150px;
				height: 150px;
			}
			.time>div{
				height: 100px;
				line-height: 100px;
				font-size: 50px !important;
			}
			.time>span{
				height: 50px;
				line-height: 50px;
			}
			#countdown div{
				font-size: 20px;
			}
			#countdown>div:first-child{
				font-size: 45px;
			}
			#year{
			font-size: 60px !important;
			font-weight: 550;
			}
			.content{
				width: 800px;
			}
		}
		@media screen and (min-width: 992px){
			.time{
				margin: 20px 10px;
				width: 200px;
				height: 200px;
			}
			.time>div{
				height: 140px;
				line-height: 140px;
				font-size: 80px !important;
			}
			.time>span{
				height: 60px;
				line-height: 60px;
			}
			#countdown div{
				font-size: 50px;
			}
			#header>div{
			width: 15%;
			}
			button{
			width: 100px;
			}
			#year{
			font-size: 80px !important;
			font-weight: 550;
			}
			.content{
				width: 850px;
			}
		}