*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.menu{
	width: 100%;
	height: 40px;	
	margin-top:15px;
}
.menu div{
	
}
.menu-addmenu-bars{
	display: none;
}
.menu .menu-theme{
	width: 30%;
	float:left;
}
.menu .menu-theme p{
	font-size:30px;	
	font-weight:bold;
	margin-left: 10px;

}
.menu-addmenu{
	width: 68%;
	float: right;
}
.menu-addmenu ul{
	float: right;
}
.menu-addmenu a{
	font-size:20px;
	text-decoration: none;
	color: black;
	text-align: justify;
}
.menu-addmenu li{
	list-style: none;
	float: left;
	line-height: 40px;
	padding-left:10px;
	padding-right:20px; 
}
a{
	font-size:20px;
	text-decoration: none;
	color: black;
	text-align: justify;
}

/**/
.foggy1{

	background-color:#f8f9fa;
	padding:30px;
    float: left;
}
.foggy1-infoggy{
	width: 32%;
	float: left;
}
.foggy1-parent{
    position: relative;
    margin-bottom: 20px;
}
.foggy1-parent img{
	width: 100%;
    border-radius: 5px;
}
.foggy1-parent-opacity{
    width: 100%;
    height: 99%;
    background-image: linear-gradient(to top, #e6e3e4, white);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    border-radius: 5px;
}
.foggy1-parent-title{
    position: absolute;
    bottom: 0;
}
.foggy1-parent-title h4{
    color: white;
    font-weight: 300;
    text-align: left;
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}
.foggy1-parent-title p{
    color: #ccc;
  	font-size: 13px;
  	text-align: left;
  	margin-left: 5px; 
  	margin-bottom: 20px;
}
.foggy1-parentCenter{
	width: 32%;
	float: left;
	position: relative;
    margin: 0 2%;
    margin-bottom: 20px;

}
.foggy1-parentCenter img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.foggy1-parentCenter-opacity{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black, white);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    border-radius: 5px;
}
.foggy1-parentCenter-title{
    position: absolute;
    bottom: 0;
}
.foggy1-parentCenter-title h4{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.foggy1-parentCenter-title p{
    color: #ccc;
  	font-size: 13px;
  	text-align: left;
  	margin-left: 5px; 
  	margin-bottom: 20px;
}
.foggy1-parentCenter-interres{
	padding-bottom:25px;
}
#TRAVER{
	float: left;
	border-radius: 3px;
	position: absolute;
  	text-align: justify;
  	font-weight:bold;
	color: white;
	background-color: red;
	padding: 3px;
}
#FOOD{
	float: left;
	margin-left: 25%;
	border-radius: 3px;
	position: absolute;
  	text-align: justify;
  	font-weight:bold;
	color: white;
	background-color: blue;
	padding: 3px;
}
.foggy1-parentCenter-opacityr{
	display: none;
}
/**/

.foggy2{
	width: 95%;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-top:20px;
	margin-bottom:100px;
}
.recentpost{
	text-align: left;
    width: 80%%;
    margin: 20px;
}
.foggy2-main-box{
	width: 31%;
	float:left;
	margin-left:22px;
	margin-top: 22px;
}
.foggy2-main-box .img img{
	width: 100%;
	border-radius: 3px;
}
.avatar{
	float: left;
}
.foggy2-main-box-content{
    width: 100%;
    text-align: left;
    margin-top: 25px;
}
.foggy2-main-box-content a{
	text-decoration: none;
    color: blue;
}
.foggy2-main-box-content img{
	margin-right: 10px;
	border-radius:100%;
}
.time{
    color: #ccc;
}
.politic{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: #444444;
    padding: 3px;
}
.nature{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: #33CC33;
    padding: 3px;
}

.foggy2-main-box-content .sports{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: red;
    padding: 3px;
}
.foggy2-main-box-content .sport{
	margin-left:0px;
	float: left;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: red;
    padding: 3px;
}
.tralve{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: #FF9900;
    padding: 3px;
}
.tech{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color:  #444444;
    padding: 3px;
    margin-left: 5%;
}
.lifestyle{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: #FF9900;
    padding: 3px;
    margin-left: 5%;
}
.foggy2 h3{
	margin-bottom:20px; 
	margin-top: 20px;
}
/**/

.intro{
	margin-top: 20px;
    margin-bottom: 20px;
}
.foggy3-item:after{
	clear: both;
}
.foggy3-item{
    width: 100%;
    text-align: center;	
    background-color: #ffff;
}
.foggy3-item .item{
	margin: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    background: #6895ee;
}
.foggy3-item .item1{
	margin: 5px;
	padding: 10px;
	border-radius: 50%;
    background: #6895ee;
}
/**/

.foggy4{
	width: 100%;
	height: 600px;
	float: left;
	background: #ccc;
	margin-top:150px;
	padding: 10px;
    padding-top: 50px;
	margin-bottom: 100px;

}
.foggy4-left{
	width: 54%;
	height: 97%;
	float: left;
}
.foggy4-right{
    width: 46%;
    height: 94%;
    float: left;
    position: relative;
    padding: 5px;
    padding-right: 4px;
    padding-bottom:1px ;
}
.parentBottomleft{
	margin: 1%;
	height: 48%;
	position: relative;
	width: 98%;
}
.foggy4-right .parentCenterp{
	height: 100%;
}

.foggy4-right img{
	width: 100%;
	object-fit: cover;
	height: 100%;
	height: 100%;
	border-radius: 3px;
}
.foggy4 .opacityBottomright{
	width: 99%;
    height: 99%;
    top: 5px;
    left: 5px;
    background-image: linear-gradient(to top, black, white);
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
}
.foggy4-right .title{
	position: absolute;
	bottom: 0;
}

.foggy4-right .title h4{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.foggy4-right .title p{
    color: #ccc;
  	font-size: 13px;
  	text-align: left;
  	margin-left: 5px; 
  	margin-bottom: 20px;
}
.foggy4 .tralve{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: red;
    padding: 3px;
    top: 10px;
    left: 10px;
	position: absolute;
}
.foggy4-left img{
	width: 100%;
	height: 100%;
	border-radius: 3px;
	object-fit: cover;
}
.foggy4 .opacityBottomleft{
	width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black, white);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    border-radius: 5px;
}
.parentItemleft{
	position: relative;
	width: 48%;
    float: left;
    height: 46%;
    margin: 1%;
}
.naturebottom{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: #33CC33;
    padding: 3px;
    top: 5px;
    left: 5px;
	position: absolute;
}
.foggy4-left .title{
	position: absolute;
	bottom: 0;
}

.foggy4-left .title h4{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.foggy4-left .title p{
    color: #ccc;
  	font-size: 13px;
  	text-align: left;
  	margin-left: 5px; 
  	margin-bottom: 20px;
}
.parentItemleft .lifestyle{
	top: 5px;
    margin-left: 5px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: #FF9900;
    padding: 3px;
    position: absolute;
}
.parentItemleft .sport{
	top: 5px;
	left: 5px;
	float: left;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: blue;
    padding: 3px;
    position: absolute;
}


/**/
.foggy5{
	display: none;
	width: 100%;
	height: 1250px;
	background: #ccc;
	margin-top:150px;
	padding: 10px;
	padding-bottom: 20px;
	margin-bottom: 100px;
}
.foggy5 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.foggy5-parentCenterp{
	width: 100%;
	height: 35%;
	position: relative;
}
.foggy5 .opacityBottom{
	width: 100%;
    height: 99%;
    top: 5px;
    background-image: linear-gradient(to top, black, white);
    position: absolute;
    opacity: 0.6;
    border-radius: 5px;
}
.foggy5 .title{
	position: absolute;
	bottom: 0;
}

.foggy5 .title h4{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.foggy5 .title p{
    color: #ccc;
  	font-size: 13px;
  	text-align: left;
  	margin-left: 5px; 
  	margin-bottom: 20px;
}
.foggy5 .tralve{
	margin-left:0px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: red;
    padding: 3px;
    top: 10px;
    left: 10px;
	position: absolute;
}
.foggy5-parentItem{
	margin-top: 10px;
	position: relative;
	width: 100%;
	height: 21%;
}
.foggy5-parentItem .sport{
	top: 5px;
	left: 5px;
	float: left;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: blue;
    padding: 3px;
    position: absolute;
}
.foggy5 .opacityItem{
	width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, black, white);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    border-radius: 5px;
}
.foggy5-parentItem .lifestyle{
	top: 5px;
    margin-left: 5px;
	font-size:13px;
    color: white;
    display: inline;
    border-radius: 3px;
    background-color: #FF9900;
    padding: 3px;
    position: absolute;
}

/**/
.Subcribe div{
	 margin-top: 30px;
}
.Subcribe p{
	 color: var(--color-grey);
}
button{
	background-color: #008cfc;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border-style: none;
}
input{
    padding: 5px;
}

/**/
.bottom{
	margin-top: 100px;
	width: 100%;
	background-color: #222;
	color: #ccc;
	padding: 10%;
}
.bottom-top{
	display: flex;
}
.bottom-top-left{
	width: 30%;
}
.bottom-top-left h3{
    margin-bottom: 20px;
}
.bottom-top-center li{
	width: 100px;
	list-style: none;	
	padding: 5%;
}
.bottom-top-center ul{
	padding-right: 5%;
    float: left;
    width: 45%;	
}
.bottom-top-center a{
	color: #ccc;
}
.bottom-top-center{
	width: 35%;
	padding-left: 5%;
}
.bottom-top-right{
	width: 25%;
}
.bottom .center{
	width: 10%;
}
.center h3{
	width: 150px;
    margin-bottom: 20px;
}
.bottomend{
	text-align: center;
	width: 100%;
	margin-top: 30px;
}
.bottomend p{
	font-size: 18px;
	text-align: center;
	float: left;
}
.icon{
	display: flex;
}
.icon i{
	font-size: 25px;
	margin-right: 10px;
}
.love{
	color: #FF3333;
	padding: 3px;
}


@media screen and (max-width: 992px){
	.menu-addmenu ul > li:not(:last-child){
        display: none;	
    }
    .menu-addmenu-bars{
    	display: block;	
        float: right;
        line-height: 40px;
        border: 0; 
        padding-right:10px; 
        background-color:white; 
        padding-right: 20px;
    }
    #FOOD{
    	margin-left: 30%;
    }
	.foggy2-main-box{
		width: 95%;
		margin: 2.5% 2.5%;
		margin-top: 22px;
	}
	.bottom-top-center{
		padding-left: 15%;
	}
	.bottom-top-center ul{
		float: none;
	}
	.bottom{
		padding-left: 5%;
	}

}
@media screen and (max-width: 768px){
	.menu{
		height: 70px;
	}
	.menu-addmenu li{
		line-height: 70px;
	}
	.menu .menu-theme{
		width: 10%;
	}
	.menu-addmenu-bars{
		line-height: 70px;

	}
	.menu-addmenu i{
		font-size:25px; 
	}
	.foggy1-infoggy{
		width: 100%;
	}
	.foggy1-parent-title h4{
    	font-size:22px;
	}
	.foggy1-parent-title p{
  		font-size: 15px;
	}
	.foggy1-parentCenter{
		display: none;
	}
	.foggy4{
		display: none;
	}
	.foggy5{
		display: block;
	}
	.Subcribe{
		width: 73%;
	}

	.bottomend p{
		font-size: 18px;
		float: left;
	}

	.bottom-top{
		display: block;
	}
	.bottom-top-center ul{
		float: left;
    	width: 50%;
	}
	.bottom-top-center{
		padding-left: 0;
		width: 100%;
		margin-top: 20px;
	}
	.bottom-top-left{
		width: 100%;

	}
	.bottom .center{
		margin-top: 190px;

	}
}